DESeq2
dplyr
tidyr
stringr
amap

optional: can't use heatmap option in DE_cluster
ComplexHeatmap

you also need BiocManager to install DESeq2, EnhancedVolcano, or ComplexHeatmap as shown in the walkthrough independent of my functions
install.packages("BiocManager")
BiocManager::install("DESeq2")